/**
# This file is part of Galette.
#
# Galette is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Galette is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar.  If not, see https://www.gnu.org/licenses/
*/


/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    position: absolute;
    top: 0em;
    left: 0em;
    fill: $light-text-color;
}

/** Hide std menu title */
.mainmnulnk {
    display: none;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
aside#sidebar .main-menu {
    position: absolute;
    display: none;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    font-size: 1.2em;
    background: $text-color;

    .menu-close {
        color: white;
        display: block;
        border-bottom: 1px solid $galette-dark-orange;

        &:hover,
        &:active {
            text-decoration: none;
            background: rgba(0, 0, 0, 0.1);
        }

        span[aria-hidden] {
            display:flex;
            align-items: center;
            justify-content: center;
            padding: 1em;

            svg {
              fill: $light-text-color;
            }
        }
    }

    ul {
        min-height: 100%;

        li a {
            color: $light-text-color;
            padding: 5vw 15vw;
            border-bottom: 1px solid $galette-dark-orange;

            &:hover,
            &:active,
            &:focus {
              background: rgba(0, 0, 0, 0.1);
            }
        }
    }

    /*
     On small devices, allow it to toggle...
    */
    /*
     :target for non-JavaScript
     [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
    */
    &:target,
    &[aria-expanded="true"] {
        display: block;
        left: 0;
        outline: none;
        box-shadow: 3px 0 12px rgba(0,0,0,.25);

        & .menu-close {
            z-index: 1001;
        }

        & ul {
            position: relative;
            z-index: 1000;
        }

        /*
         We could use `.main-menu:target:after`, but
         it wouldn't be clickable.
        */
        & + .backdrop {
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 998;
            background: #000;
            background: rgba(0, 0, 0,.75);
            cursor: default;
        }
    }
}

@supports (position: fixed) {
    aside#sidebar {
        .main-menu,
        .main-menu:target + .backdrop,
        .main-menu[aria-expanded="true"] + .backdrop{
            position: fixed;
        }
    }
}


@media screen and (min-width: $galette-large) {
    aside#sidebar .menu-toggle,
    aside#sidebar .main-menu .menu-close {
        display: none;
    }

    .mainmnulnk {
        display: block;
    }

    aside#sidebar .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        display: block;
        font-size: 1em;
        background: none;

        ul {
            li a {
                color: $text-color;
                padding: .2em .3em;
                border-bottom: none;

                &:hover {
                    color: $galette-blue;
                }

            }
        }
    }
}
